name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  APOLLO_KEY: ${{ secrets.APOLLO_KEY }}

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install Rover
        run: curl -sSL https://rover.apollo.dev/nix/latest | sh && echo "$HOME/.rover/bin" >> $GITHUB_PATH
      - uses: Swatinem/rust-cache@v2
      - run: cargo check

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install Rover
        run: curl -sSL https://rover.apollo.dev/nix/latest | sh && echo "$HOME/.rover/bin" >> $GITHUB_PATH
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install Rover
        run: curl -sSL https://rover.apollo.dev/nix/latest | sh && echo "$HOME/.rover/bin" >> $GITHUB_PATH
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
